
body {
  padding: 0;
  margin: 0;
  
}

h1 {
  width: 100%;
  font-size: 36px;
}
p {
  font-size: 18px;
  width: 100%;
  display: block;
}

.sectionBody {
  min-height: 450px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  text-align: center;
  font-family: proxima nova, arial, sans-serif;
  color: #2d3352;

  .section-content {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  
  .section-mask {
    position: absolute;
    top: -50px;
    bottom: -50px;
    right: 0;
    left: 0;
    z-index: 1;
    background: url(https://production.cdn.vaypol.com/ifut5ljujim1hogl3avb01zihnwg);
    background-size: cover !important;
    transform: skewY(10deg);
  }
  .has-parallax {
  background-attachment: fixed !important;
}
}

.has-padding {
  padding-top: 250px !important;
  padding-bottom: 250px !important;
}

.bg-option-2 {
  background: url(https://megasports.vteximg.com.br/arquivos/ENTRENA.jpg?v=637619761572670000) !important;
  background-attachment: fixed !important;
}