.side-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  right: -300px;           // antes era margin-left para izquierda
  background-color: #ecacde;
  transition: 0.5s;
  z-index: 3;

  &.active-nav {
    right: 0;              // se hace visible desde la derecha
  }

  .nav-link {
    font-weight: 600;
    padding: 10px 25px;
    font-size: 0.8em;
    letter-spacing: 2px;
    transition: opacity 0.3s;
    opacity: 0.5;
    color: #ffffff;

    &:active,
    &:focus,
    &:hover {
      background-color: #d766db62;
      color: #b700ff;
      cursor: default;
    }
  }
}

.my-container {
  transition: 0.4s;

  &.active-cont {
    margin-right: 250px;   // desplaza el container a la izquierda
  }

  input {
    border-radius: 2rem;
    padding: 2px 20px;
    background-color: transparent;
  }
}
.top-navbar {
  display: flex;
  justify-content: flex-end; // empuja el botón al borde derecho
}


#menu-btn {
  background-color: #ffffff;
  color: #ea00ff8e;
}
#menu-btn i {
  font-size: 2rem;  // ajustá a lo que necesites
}
