.side-navbar {
  width: 280px;
  height: 100%;
  position: fixed;
  right: -280px;           // antes era margin-left para izquierda
  background-color: #ecacde91;
  transition: 0.5s;
  z-index: 3;
  &.active-nav {
    right: 0;              // se hace visible desde la derecha
  }
  .title {
      font-size: 20px;
      font-weight: 500;
      color: #b766be;
      margin: 10px 0 0;
      margin-left: 35%;
      letter-spacing: -0.2px;
      cursor: default;
    }
  .nav-link {
    font-weight: 600;
    padding: 10px 25px;
    font-size: 0.8em;
    letter-spacing: 2px;
    transition: opacity 0.3s;
    opacity: 0.5;
    color: #b766be;
    &:active,
    &:focus,
    &:hover {
      background-color: #d766db62;
      color: #b700ff;
      cursor: default;
    }
  }
}
.my-container {
  transition: 0.4s;
  &.active-cont {
    margin-right: 270px;   // desplaza el container a la izquierda
  }
  input {
    border-radius: 2rem;
    padding: 2px 20px;
    background-color: transparent;
  }
}
.top-navbar {
  display: flex;
  justify-content: flex-end; // empuja el botón al borde derecho
}
#menu-btn {
  background-color: #ffffff;
  color: #ea00ff8e;
}
#menu-btn i {
  font-size: 2rem;  // ajustá a lo que necesites
}