.container {
  padding-top: 20px;

  .containerTitle {
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); // centra en X e Y
    z-index: 3;
    pointer-events: none;
  }
}
/* Base */
h1 {
  font-size: 45px !important;
  font-weight: bold !important;
  font-family: monospace;
  letter-spacing: 6px !important;
  pointer-events: none;
  text-transform: uppercase;
  z-index: 4;
}
h1 {
  background: linear-gradient(
    to right,
    hsl(224, 83%, 14%) 0,
    hsl(0, 0%, 100%) 10%,
    hsl(225, 67%, 1%) 20%
  );
  background-size: 600px 100%; /* importante para que se repita */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}
@keyframes shine {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 600px 0;
  }
}
