.hero {
  position: relative;
  width: 100%;
  height: 520px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    #ee610f 0%,
    rgba(231, 117, 51, 0.596) 60%,
    rgba(253, 251, 249, 0.219) 100%
      /*
           ---------Colores para modo oscuro------------
    #000000 0%,
    rgba(71, 71, 71, 0.541) 60%,
    rgba(0, 0, 0, 0.507) 100%
      */
  );
}
.hero__video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.hero__player-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}
.hero__carousel-track {
  display: flex;
  gap: 1em;
  padding: 20px;
  height: 100%;
}
.hero__carousel-item {
  min-width: 318px;
  height: 476px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.hero__video {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.45);
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: rgba(105, 104, 104, 0.5);
}
