html,
body,
#root {

  margin: 0;
  padding: 0;
  background-color: rgba(233, 108, 108, 0.123);
  
}
body {
  min-width: 320px;
  place-items: center;
}
#root {
  width: 100%;
  height: auto;
}
.modal-dialog {
  max-width: 90% !important;
}