.pcooModal {
  .modal-dialog {
    max-width: 800px !important;
   
  }

  .textPolCoo {
    background-color: #0870a2;
    color: white;
    padding: 3%;
    width: 100%;
    text-align: center;
  }
}
