body {
  margin: 0;
  padding: 1rem;
}

.masonry-with-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 900px;

  div {
    flex: 1 0 auto;
    background: #00997b;
    color: white;
    margin: 0 1rem 1rem 0;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
  }

  // map con alturas y line-height
  $heights: (
    1: 163,
    2: 495,
    3: 120,
    4: 309,
    5: 317,
    6: 277,
    7: 339,
    8: 491,
    9: 281,
    10: 499,
    11: 490,
    12: 289,
    13: 356,
    14: 406,
    15: 196,
    16: 237,
    17: 367,
    18: 472,
    19: 413,
    20: 337,
    21: 406,
    22: 368,
    23: 130,
    24: 209,
    25: 203,
    26: 368,
    27: 163,
    28: 418,
    29: 123,
    30: 256,
    31: 196,
    32: 224,
    33: 122,
    34: 303,
    35: 159,
    36: 320
  );

  @each $index, $h in $heights {
    div:nth-child(#{$index}) {
      height: #{$h}px;
      line-height: #{$h}px;
    }
  }
  @media (max-width: 1024px) {
    max-height: none;        // sacamos el límite
    flex-direction: row;     // en fila normal
    flex-wrap: wrap;         // que bajen
    div {
      flex: 1 1 100%;        // que ocupen ancho completo
      margin: 0 0 1rem 0;    // margen solo abajo
    }
  }

}

.masonry-with-columns-2 {
  display: flex;
  flex-wrap: wrap;


  div {
    height: 250px;
    line-height: 250px;
    
    background: #9b1b30;
    color: white;
    margin: 0 1rem 1rem 0;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    flex: 1 0 auto;
  }

  div:nth-child(1) {
    width: 20%;
  }

  div:nth-child(2) {
    width: 70%;
  }
  @media (max-width: 760px) {
    max-height: none;        // sacamos el límite
    flex-direction: row;     // en fila normal
    flex-wrap: wrap;         // que bajen
    div {
      flex: 1 1 100%;        // que ocupen ancho completo
      margin: 0 0 1rem 0;    // margen solo abajo
      
    }
  }
}
