.text-body{
text-decoration: none;
}
.card-footer{
      border-top: none !important;
width: 200px;
  background: #fff; // o transparente según diseño
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}