#main-demo * {
  box-sizing: initial;
}

.row_card{
    justify-content: center;    
}

#col-product{
     width: 220px;    // más angosta, similar a ML
  height: 350px;
  box-sizing:initial !important;
}
#col-product .product-card {
  width: 220px;
  margin: 0 auto; // centra la card dentro de la columna
}


@media (min-width: 1200px) {
    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
        margin-right: 2vh;
        margin-top: 30px;
    }
}