@import url('https://i.postimg.cc/Ls2NMc20/background.png');



#container-product {
  border: 0.5px solid #e2e2e2e1;
  padding: 20px;
  width: 1184px;
  border-radius: 6px;
  background-color: #ffff;
 
  
}
#container-product .row {
  margin-left: 0;
}


.details-snippet1 {
  color: #585656;
}
