@use 'swiper/css';
@use 'swiper/css/effect-creative';
@use 'swiper/css/effect-cube';
@use 'swiper/css/effect-cards';

$swiper-colors: (
  1: rgb(206, 17, 17),
  2: rgb(0, 140, 255),
  3: rgb(10, 184, 111),
  4: rgb(211, 122, 7),
  5: rgb(118, 163, 12),
  6: rgb(180, 10, 47),
  7: rgb(35, 99, 19),
  8: rgb(0, 68, 255),
  9: rgb(218, 12, 218),
  10:rgb(54, 94, 77)
);

.swiper {
  margin: 30px auto;
  width: 320px;
  height: 240px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  @each $i, $color in $swiper-colors {
      &:nth-child(#{$i}n) {
        background-color: $color;
      }
    }
}
.swiper-slide img {
  display: block;
  width: 100%;
  cursor: default;
}